# Compiled Object files
*.obj

# Precompiled Headers
*.pch

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.lib

# Executables
*.exe

# Build results
Debug/
Release/

# VS2015 files
*.suo
*.db
*.opendb
*.aps
*.vcxproj.user

# private files
/priv
/server
